@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
   background:linear-gradient(to right, #9796f0, #fbc7d4);
}

.container {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.dropdown-section {
  width: 100%;
  margin-bottom: 2rem;
}

.selection {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid black;
}
.select-month {
  margin-right: 3rem;
}

.table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 2rem;
  cursor:pointer;
  
}


tr {
  height: 50px;
}
td {
  text-align: center;
}
.td:hover{
background-color:#9796f0;
}
.green {
  background-color: #52ab52;
}
th {
  width: 11%;
}
.enter-date {
  width: 100%;
  display: flex;
  align-items: center;
}

.input-date {
  padding: 1rem 1.5rem;
  border: 1px solid black;
  margin-right: 1rem;
  font-weight: bold;
}
input::placeholder {
  font-weight: bold;
  color: black;
}
.btn {
  padding: 1rem 2.5rem;
  color: white;
  font-weight: bold;
  border: none;
  background-color: #030fefa6;
   cursor: pointer;
}
